body {
    background: #e3e1ff;
    color: #444;
  }
 
  .error {
    color: #ff3f80;
    font-size: 14px;
  }

  .constrain-more {
    max-width: 640px;
    margin: 0 auto;
  }
  
  .myframe{
    width :100%;
    margin :0;
  }

  .map {
    position: relative;
   
    min-width: 100%;
    min-height: 300px;
 
    max-width: 400px;;
    background-color :bisque;
  }
  
  #map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border: 1px solid #ff0; 
  }
  .camera-frame {
    border: 2px solid;
    border-radius: 10px;
  }

  .pic {
    width:100%;
    max-width: 100%;
    height: 230px;
}

.big-max{
  max-width: 600px;

}